@import url(https://fonts.googleapis.com/css?family=Roboto);

/*Just the background stuff*/
span.s1 {
	position : absolute;
	top : 0;
	font-size : 15rem;
	font-weight : 800;
	text-transform : uppercase;
	color : #3C4447;
}
span.s2 {
	font-weight : 800;
	position : absolute;
	bottom : 0;
	right : 0;
	font-size : 15rem;
	text-transform : uppercase;
	color : #3C4447;
	}

/*My hum... body.. yeah..*/
body {
	background-color: #353B3F;
	font-family: 'Roboto', sans-serif;
	}

/* The card */
.card{
	position : relative;
	height: 550px;
	width: 900px;
	margin : 200px auto;
	background-color : #FFF;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
}
/* Image on the left side */
.thumbnail {
	float : left;
	position : relative ;
	left : 30px;
	top : -30px;
	height : 320px;
	width : 530px;
	-webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
	overflow: hidden;
/*object-fit: cover;*/
/*object-position: center;*/
}
img.left{
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
/* Right side of the card */
.right{
	margin-left : 590px;
	margin-right : 20px;
}
h1{
	padding-top : 15px;
	font-size : 1.3rem;
	color : #4B4B4B;
}
.author{
	background-color : #9ECAFF;
	height : 30px;
	width : 110px;
	border-radius : 20px;
}
.author>img{
	padding-top : 5px;
	margin-left : 10px;
	float : left;
	height : 20px;
	width : 20px;
	border-radius : 50%;
}
h2{
	padding-top : 8px;
	margin-right : 6px;
	text-align : right;
	font-size : 0.8rem;
	color :white;
}
.separator{
	margin-top : 10px;
	border : 1px solid #C3C3C3;
}
p{
	text-align: justify;
	padding-top : 10px;
	font-size : 0.95rem;
	line-height: 150%;
	color : #4B4B4B;
}
/* DATE of release*/
h5{
	position : absolute;
	left : 30px;
	bottom : -120px;
	font-size : 6rem;
	color : #C3C3C3;
}
h6{
	position : absolute;
	left : 30px;
	bottom : -55px;
	font-size : 2rem;
	color : #C3C3C3;
}
/* Those futur buttons */
ul{
	margin-left : 250px;
}
li{
	display: inline;
	list-style: none;
	padding-right: 40px;
	color : #7B7B7B;
}
/* Floating action button */
.fab{
	position : absolute;
	right : 50px;
	bottom : -40px;
	box-sizing: border-box;
	padding-top: 18px;
	background-color : #1875D0;
	width : 80px;
	height : 80px;
	color : white;
	text-align : center;
	border-radius : 50%;
	-webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
}
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

.title{
  font-size : 1.5rem;
  color : #4B4B4B;
}
.gallery-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}