$p: #82d305;
$s: #d89216;
$light: #f2f3f4;
$bg_color: #098b3d;
$facebook: #4267b2;
$twitter: #1da1f2;
$google: #ea4335;
$dark: #141414;
$facebook: #4267b2;
$twitter: #1da1f2;
$google: #ea4335;
a.nomal{
  text-decoration: none !important;
  color: $p;

  &:hover{
    color: $light;
  }
}
* {
  margin: 0;
  padding: 0;
}
.order {
  display: flex;
  height: 100vh;
  .col {
    &.left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      place-items: center;
      h1 {
        font-size: 55px;
      }
      p {
        text-align: center;
      }
    }
    &.right {
      width: 1500px;
      background-image: url("https://cdn.discordapp.com/attachments/1089198968724017262/1090021860281946242/vintage-old-rustic-cutlery-dark_1.jpg");
      background-position: right;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      .img {
        .cart {
          display: flex;
          justify-content: center;
          place-items: center;
          height: 100vh;
          i.arrow {
            color: $light;
            font-size: 50px;
          }
          .card {
            height: 400px;
            background: #f2f3f4;
            border-radius: 33px;
            width: 250px;
            background: $p;
            margin: 0 50px;
            -webkit-box-shadow: 10px 10px 22px 0px rgba(242, 243, 244, 1);
            -moz-box-shadow: 10px 10px 22px 0px rgba(242, 243, 244, 1);
            box-shadow: 10px 10px 22px 0px rgba(242, 243, 244, 1);
            .img {
              margin: -20px -50px;
            }
            .title {
              margin-top: 20px;
              color: #ddd;
              display: flex;
              justify-content: space-between;
              padding: 10px;
              span {
                font-weight: 600;
                font-size: 25px;
              }
              .rating {
                display: flex;
                justify-content: center;
                place-items: center;
              }
              i {
                padding: 2px;
                margin: 0 2px;
              }
            }
            p {
              color: $light;
              text-align: center;
            }
            .time {
              align-items: center;
              background: #141414;
              color: $p;
              position: absolute;
              padding: 10px;
              // display: flex;
              text-align: center;
              border: 1px solid $light;
              margin: 5px 80px;
            }
          }
        }
        .list {
          display: flex;
          justify-content: center;
          place-items: center;
          margin-top: -150px;
          i {
            color: $light;
            margin: 0 5px;
          }
        }
      }
    }
  }
}

nav {
  .left-nav {
    position: fixed;
    left: 0;
    top: 0;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 15%;
    .logo {
      display: flex;
      justify-content: center;
    }

    .link {
      // width: 150px;
      display: flex;
      text-decoration: none;
      color: $p;
      padding: 7.5px;
      border-radius: 33px;
      margin: 5px 10px;
      justify-items: center;
      justify-content: center;
      background: $light;
      .text {
        margin: 0 10px;
      }
      &:hover {
        background: $p;
        color: $light;
      }
    }
  }
  .right-nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 20%;
    background: #eee;
    height: 100vh;

    .card-box {
      padding: 5px;
      background: $light;
      padding: 5px;
      margin: 5px;
      border-radius: 33px;

      .title {
        display: flex;
        justify-content: space-between;
        margin: 10px 15px;
        i {
          display: block;
          padding: 7.5px;
          border-radius: 100%;
          &:hover {
            background: $p;
            color: $light;
          }
        }
      }
    }

  }
}

.foods{
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
    font-family: Poppins,sans-serif;
  }
.food-list {
  display: grid;
  grid-template-columns: auto auto auto;
  // background-color: #2196F3;
  padding: 10px;
  .card {
    width: 295px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid lavender;
    margin: 10px;
    box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
    background: $light;
  }

  .card__image {
    position: relative;
    height: 140px;
  }
  .card__image > img {
    width: 100%;
    border-bottom-right-radius: 30px;
    transform: rotate(10deg) translate(-15px, -55px);
    position: absolute;
    height: 200px;
    object-fit: cover;
    object-position: center;

    &:hover{
      transform: rotate(0deg) translate(0px, 0px);
      transition: all 0.5s ease-out;
    }
  }

  .card__info {
    margin-top: 20px;
    // display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 30px 20px 30px;
  }
  .card__info h3 {
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 15px;
    font-weight: 700;
  }
  .card__info p {
    font-size: 14px;
    height: 55px;
    text-align: left;
  }
  .card__info--price {
       margin-top: 15px;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
    h6{
     
      color: rgb(8, 207, 18);
      font-size: 18px;
      
    }

    .rating{
      font-size: 12px;
    }
    
  }
  .rect2 {
    position: relative;
    bottom: 315px;
    right: 15px;
    width: 325px;
    height: 230px;
    border: 1px solid lavender;
    border-radius: 0 0px 80px 0;
    background-image: url();
    transform: rotate(10deg);
    object-fit: cover;
  }

  .add-cart{

    i{
      margin-right: 10px;
    }
    button{
      padding: 8px 15px;
      background-color: #06257c;
      color: #fff;
      font-size: 15px;
      border-radius: 18px;
      margin-top: 18px;
      

      &:hover{
        cursor: pointer;
        scale: 1.05;
      }
    }
  }
  .checked {
    color: #ffd700;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
}
}
.categories-card {
  position: relative;
  width: 220px;
  height: 180px;
  background-color: $bg_color;
  border-radius: 20px;
  box-shadow: 0px 25px 50px 6px rgba(42, 42, 42, 0.6);
  margin-top: 180px;
  margin-left: 10px;
  margin-right: 10px;

  .image-card {
    position: absolute;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    width: 170px;
    height: 170px;
    background: transparent;
    border: 0;
    padding: 15px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      z-index: -1;
    }

    .edit-btn {
      background-color: $bg_color;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: relative;
        width: 60%;
        height: 60%;
        z-index: 1;
      }
    }
  }

  .content {
    position: absolute;
    width: 180px;
    height: 85px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1 {
      color: #ffffff;
      font-size: 17px;
    }

    .price {
      display: flex;
      color: #ffffff;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.profile-card {
  background-color: #ffffff;
  border: 3px solid #9892c5;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7.5px;

  .image-box {
    width: 100%;
    line-height: 25px;

    .edit-btn {
      background-color: #44486e;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: relative;
        width: 60%;
      }
    }

    .profile-img {
      position: relative;
      text-align: center;
      width: 100%;
      padding-top: 5px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 35px;
      }

      h1 {
        font-size: 23px;
        color: #333238;
      }
    }
  }

  .profile-data {
    width: 100%;
    background-color: #f7f5ff;
    border-radius: 15px;
    padding: 5px 0px;
    justify-content: center;
    text-align: center;

    p {
      margin: 12px 0px 5px 0px;
      font-size: 14px;
    }
    h5 {
      font-weight: 600;
    }
  }
}

.recent-order {
  .card {
    border: 2px solid #141414;
  }
  &:hover {
    background: #000;
  }
}

.forget-passwd {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.discordapp.com/attachments/1090881998039568467/1091961105506635827/coffee-3120750.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .panel {
    width: 1000px;
    border-radius: 33px;
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    background: $p;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    .group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: 5px 20px;

      &.input {
        border-bottom: 1px solid #141414;
      }
      label {
        display: none;
      }
      input {
        background: none;
        border: none !important;
        outline: none;
        margin-left: 10px;
        width: 100%;
      }
      .btn {
        padding: 10px;
        text-align: center;
        font-weight: 600;
        width: 100%;
        border-radius: 33px;
        -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        text-transform: uppercase;
        background-color: $light;

        cursor: pointer;
        &:hover {
          background-color: $s;
          color: $dark;
        }
      }
    }
  }
}

.alert {
  .toast {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    &.active {
      transform: translateX(0%);
    }
    .toast-content {
      display: flex;
      align-items: center;
      .check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        min-width: 35px;
        background-color: #4070f4;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
      }
      .message {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        .text {
          font-size: 16px;
          font-weight: 400;
          color: #666666;
        }

        .text.text-1 {
          font-weight: 600;
          color: #333;
        }
      }
    }
    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      padding: 5px;
      cursor: pointer;
      opacity: 0.7;
    }

    .close:hover {
      opacity: 1;
    }

    .progress {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #4070f4;
        &.active:before {
          animation: progress 5s linear forwards;
        }
      }
    }
    &.active ~ button {
      pointer-events: none;
    }
  }

  @keyframes progress {
    100% {
      right: 100%;
    }
  }

  button {
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #4070f4;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background-color: #0e4bf1;
  }
}

.home {
  .container {
    position: relative;
    left: 12.5%;
    margin: 0 40px;
    width: 65%;
    .search-bar {
      // background: #000;
      padding: 10px;
      // display: flex;
      // justify-content: center;
      // place-items: center;
      form {
        display: flex;
        justify-content: center;
        place-items: center;
        margin: 0 20px;
        background: #fff;
        border-radius: 10px;
        padding: 5px;
        input {
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          font-size: 16px;
          color: #000;
        }
      }
      .list-search {
        &.hidden {
          display: none;
        }
      }
      border-bottom: $p 2px solid;
    }
    .hr {
      margin-top: 20px;
    }
  }
}

.resturent {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
  }
  .resturent-list {
    display: grid;
    grid-template-columns: auto auto auto;
    // background-color: #2196F3;
    padding: 10px;
  }
  $host: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/";

  @font-face {
    font-family: "Grotesque";
    src: url("#{$host}BrandonGrotesque-Regular.eot"),
      url("#{$host}BrandonGrotesque-Regular.ttf"),
      url("#{$host}BrandonGrotesque-Regular.woff");
    font-weight: normal;
  }

  @font-face {
    font-family: "Grotesque Black";
    src: url("#{$host}BrandonGrotesque-Black.eot"),
      url("#{$host}BrandonGrotesque-Black.ttf"),
      url("#{$host}BrandonGrotesque-Black.woff");
    font-weight: bold;
  }

  $big-stone: #152536;
  $white: #fff;
  $smalt-blue: #4e958b;
  $maroon-flush: #c32361;
  $black: #000;
  $lite-grey: rgba($black, 0.2);
  $lite-big-stone: rgba($big-stone, 0.7);

  $card-width: 300px;
  $card-height: 350px;

  $thumb-height: 260px;

  $border-radius: 3px;
  $box-shadow: 0 1px 4px rgba($black, 0.3);
  $transition: cubic-bezier(0.17, 0.67, 0.5, 1.03);
  $timing-1: 0.4s 0.15s;
  $timing-2: 0.5s 0.25s;

  $grotesque-black: "Grotesque Black", sans-serif;
  $grotesque-regular: "Grotesque", sans-serif;
  $merriweather: "Merriweather", sans-serif;

  $new-york-city: "#{$host}new-york-city.png";
  $flag: "#{$host}flag.png";

  @mixin pos($pos, $left: null, $top: null, $right: null, $bottom: null) {
    position: $pos;
    left: $left;
    @if $top {
      top: $top;
    }
    @if $left {
      left: $left;
    }
    @if $right {
      right: $right;
    }
    @if $bottom {
      bottom: $bottom;
    }
  }

  @mixin size($width, $height) {
    width: $width;
    height: $height;
  }

  .food-list{

    a[href] {
      position: relative;
      &,
      &:link,
      &:visited,
      &:active {
        text-decoration: none;
        color: lighten($maroon-flush, 5);
        text-shadow: 2px 2px 2px darken($big-stone, 10);
        padding-bottom: 3px;
        font-weight: bold;
      }
      &::after {
        content: "";
        @include pos(absolute, $left: 0, $bottom: 0);
        background: $white;
        @include size(0, 1px);
        transition: 0.35s $transition;
      }
      &:hover::after {
        width: 100%;
        box-shadow: $box-shadow;
      }
    }
  }

  article.card {
    // @include pos(absolute, 50%, 50%);
    @include size($card-width, $card-height);
    // transform:translate(-50%, -50%) translateZ(0);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;

    margin: 20px 10px;
    .thumb {
      @include size(auto, $thumb-height);
      background: url($new-york-city) no-repeat center;
      background-size: cover;
      border-radius: $border-radius;
    }
    .infos {
      @include size(auto, $card-height);
      position: relative;
      padding: 10px 24px;
      background: $white;
      transition: $timing-1 $transition;
      .title {
        position: relative;
        margin: 10px 0;
        letter-spacing: 3px;
        color: $big-stone;
        font-family: $grotesque-black;
        font-size: 1rem;
        text-transform: uppercase;
        text-shadow: 0 0 0px lighten($big-stone, 20);
      }
      .flag {
        @include pos(absolute, $top: 50%, $right: 0);
        transform: translateY(-50%);
        @include size(35px, 23px);
        background: url($flag) no-repeat top right;
        background-size: 100% auto;
        display: inline-block;
      }
      .date,
      .seats {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 0.85rem;
        color: $lite-big-stone;
        font-family: $grotesque-regular;
      }
      .seats {
        display: inline-block;
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid $lite-grey;
        opacity: 0;
        transition: $timing-2 $transition;
      }
      .txt {
        font-family: $merriweather;
        line-height: 2;
        font-size: 0.95rem;
        color: $lite-big-stone;
        opacity: 0;
        transition: $timing-2 $transition;
      }
      .details {
        @include pos(absolute, $left: 0, $bottom: 0);
        margin: 10px 0;
        padding: 20px 24px;
        letter-spacing: 1px;
        color: $smalt-blue;
        font-family: $grotesque-black;
        font-size: 0.9rem;
        text-transform: uppercase;
        cursor: pointer;
        opacity: 0;
        transition: $timing-2 $transition;
      }
    }
    &:hover .infos {
      transform: translateY(-$thumb-height);
      .seats,
      .txt,
      .details {
        opacity: 1;
      }
    }
  }
}


.comming-soon{
 
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  
  
}