a.nomal {
  text-decoration: none !important;
  color: #82d305;
}
a.nomal:hover {
  color: #f2f3f4;
}

* {
  margin: 0;
  padding: 0;
}

.order {
  display: flex;
  height: 100vh;
}
.order .col.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}
.order .col.left h1 {
  font-size: 55px;
}
.order .col.left p {
  text-align: center;
}
.order .col.right {
  width: 1500px;
  background-image: url("https://cdn.discordapp.com/attachments/1089198968724017262/1090021860281946242/vintage-old-rustic-cutlery-dark_1.jpg");
  background-position: right;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
.order .col.right .img .cart {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
}
.order .col.right .img .cart i.arrow {
  color: #f2f3f4;
  font-size: 50px;
}
.order .col.right .img .cart .card {
  height: 400px;
  background: #f2f3f4;
  border-radius: 33px;
  width: 250px;
  background: #82d305;
  margin: 0 50px;
  box-shadow: 10px 10px 22px 0px rgb(242, 243, 244);
}
.order .col.right .img .cart .card .img {
  margin: -20px -50px;
}
.order .col.right .img .cart .card .title {
  margin-top: 20px;
  color: #ddd;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.order .col.right .img .cart .card .title span {
  font-weight: 600;
  font-size: 25px;
}
.order .col.right .img .cart .card .title .rating {
  display: flex;
  justify-content: center;
  place-items: center;
}
.order .col.right .img .cart .card .title i {
  padding: 2px;
  margin: 0 2px;
}
.order .col.right .img .cart .card p {
  color: #f2f3f4;
  text-align: center;
}
.order .col.right .img .cart .card .time {
  align-items: center;
  background: #141414;
  color: #82d305;
  position: absolute;
  padding: 10px;
  text-align: center;
  border: 1px solid #f2f3f4;
  margin: 5px 80px;
}
.order .col.right .img .list {
  display: flex;
  justify-content: center;
  place-items: center;
  margin-top: -150px;
}
.order .col.right .img .list i {
  color: #f2f3f4;
  margin: 0 5px;
}

nav .left-nav {
  position: fixed;
  left: 0;
  top: 0;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 15%;
}
nav .left-nav .logo {
  display: flex;
  justify-content: center;
}
nav .left-nav .link {
  display: flex;
  text-decoration: none;
  color: #82d305;
  padding: 7.5px;
  border-radius: 33px;
  margin: 5px 10px;
  justify-items: center;
  justify-content: center;
  background: #f2f3f4;
}
nav .left-nav .link .text {
  margin: 0 10px;
}
nav .left-nav .link:hover {
  background: #82d305;
  color: #f2f3f4;
}
nav .right-nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  background: #eee;
  height: 100vh;
}
nav .right-nav .card-box {
  padding: 5px;
  background: #f2f3f4;
  padding: 5px;
  margin: 5px;
  border-radius: 33px;
}
nav .right-nav .card-box .title {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}
nav .right-nav .card-box .title i {
  display: block;
  padding: 7.5px;
  border-radius: 100%;
}
nav .right-nav .card-box .title i:hover {
  background: #82d305;
  color: #f2f3f4;
}

.foods .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  font-family: Poppins, sans-serif;
}
.foods .food-list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.foods .food-list .card {
  width: 295px;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid lavender;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px rgb(230, 230, 250);
  background: #f2f3f4;
}
.foods .food-list .card__image {
  position: relative;
  height: 140px;
}
.foods .food-list .card__image > img {
  width: 100%;
  border-bottom-right-radius: 30px;
  transform: rotate(10deg) translate(-15px, -55px);
  position: absolute;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.foods .food-list .card__image > img:hover {
  transform: rotate(0deg) translate(0px, 0px);
  transition: all 0.5s ease-out;
}
.foods .food-list .card__info {
  margin-top: 20px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 30px 20px 30px;
}
.foods .food-list .card__info h3 {
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 15px;
  font-weight: 700;
}
.foods .food-list .card__info p {
  font-size: 14px;
  height: 55px;
  text-align: left;
}
.foods .food-list .card__info--price {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foods .food-list .card__info--price h6 {
  color: rgb(8, 207, 18);
  font-size: 18px;
}
.foods .food-list .card__info--price .rating {
  font-size: 12px;
}
.foods .food-list .rect2 {
  position: relative;
  bottom: 315px;
  right: 15px;
  width: 325px;
  height: 230px;
  border: 1px solid lavender;
  border-radius: 0 0px 80px 0;
  background-image: url();
  transform: rotate(10deg);
  -o-object-fit: cover;
     object-fit: cover;
}
.foods .food-list .add-cart i {
  margin-right: 10px;
}
.foods .food-list .add-cart button {
  padding: 8px 15px;
  background-color: #06257c;
  color: #fff;
  font-size: 15px;
  border-radius: 18px;
  margin-top: 18px;
}
.foods .food-list .add-cart button:hover {
  cursor: pointer;
  scale: 1.05;
}
.foods .food-list .checked {
  color: #ffd700;
}
.foods .food-list ::-webkit-scrollbar {
  width: 8px;
}
.foods .food-list ::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}
.foods .food-list ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.categories-card {
  position: relative;
  width: 220px;
  height: 180px;
  background-color: #098b3d;
  border-radius: 20px;
  box-shadow: 0px 25px 50px 6px rgba(42, 42, 42, 0.6);
  margin-top: 180px;
  margin-left: 10px;
  margin-right: 10px;
}
.categories-card .image-card {
  position: absolute;
  left: 50%;
  top: -150px;
  transform: translateX(-50%);
  width: 170px;
  height: 170px;
  background: transparent;
  border: 0;
  padding: 15px;
}
.categories-card .image-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}
.categories-card .image-card .edit-btn {
  background-color: #098b3d;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-card .image-card .edit-btn img {
  position: relative;
  width: 60%;
  height: 60%;
  z-index: 1;
}
.categories-card .content {
  position: absolute;
  width: 180px;
  height: 85px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.categories-card .content h1 {
  color: #ffffff;
  font-size: 17px;
}
.categories-card .content .price {
  display: flex;
  color: #ffffff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.profile-card {
  background-color: #ffffff;
  border: 3px solid #9892c5;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7.5px;
}
.profile-card .image-box {
  width: 100%;
  line-height: 25px;
}
.profile-card .image-box .edit-btn {
  background-color: #44486e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-card .image-box .edit-btn img {
  position: relative;
  width: 60%;
}
.profile-card .image-box .profile-img {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}
.profile-card .image-box .profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 35px;
}
.profile-card .image-box .profile-img h1 {
  font-size: 23px;
  color: #333238;
}
.profile-card .profile-data {
  width: 100%;
  background-color: #f7f5ff;
  border-radius: 15px;
  padding: 5px 0px;
  justify-content: center;
  text-align: center;
}
.profile-card .profile-data p {
  margin: 12px 0px 5px 0px;
  font-size: 14px;
}
.profile-card .profile-data h5 {
  font-weight: 600;
}

.recent-order .card {
  border: 2px solid #141414;
}
.recent-order:hover {
  background: #000;
}

.forget-passwd {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.discordapp.com/attachments/1090881998039568467/1091961105506635827/coffee-3120750.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.forget-passwd .panel {
  width: 1000px;
  border-radius: 33px;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  background: #82d305;
}
.forget-passwd .panel h1 {
  text-align: center;
}
.forget-passwd .panel p {
  text-align: center;
}
.forget-passwd .panel .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 20px;
}
.forget-passwd .panel .group.input {
  border-bottom: 1px solid #141414;
}
.forget-passwd .panel .group label {
  display: none;
}
.forget-passwd .panel .group input {
  background: none;
  border: none !important;
  outline: none;
  margin-left: 10px;
  width: 100%;
}
.forget-passwd .panel .group .btn {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  border-radius: 33px;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  background-color: #f2f3f4;
  cursor: pointer;
}
.forget-passwd .panel .group .btn:hover {
  background-color: #d89216;
  color: #141414;
}

.alert .toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.alert .toast.active {
  transform: translateX(0%);
}
.alert .toast .toast-content {
  display: flex;
  align-items: center;
}
.alert .toast .toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}
.alert .toast .toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.alert .toast .toast-content .message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.alert .toast .toast-content .message .text.text-1 {
  font-weight: 600;
  color: #333;
}
.alert .toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.alert .toast .close:hover {
  opacity: 1;
}
.alert .toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}
.alert .toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}
.alert .toast .progress:before.active:before {
  animation: progress 5s linear forwards;
}
.alert .toast.active ~ button {
  pointer-events: none;
}
@keyframes progress {
  100% {
    right: 100%;
  }
}
.alert button {
  padding: 12px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #4070f4;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.alert button:hover {
  background-color: #0e4bf1;
}

.home .container {
  position: relative;
  left: 12.5%;
  margin: 0 40px;
  width: 65%;
}
.home .container .search-bar {
  padding: 10px;
  border-bottom: #82d305 2px solid;
}
.home .container .search-bar form {
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 20px;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
}
.home .container .search-bar form input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000;
}
.home .container .search-bar .list-search.hidden {
  display: none;
}
.home .container .hr {
  margin-top: 20px;
}

.resturent .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
}
.resturent .resturent-list {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
@font-face {
  font-family: "Grotesque";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff");
  font-weight: normal;
}
@font-face {
  font-family: "Grotesque Black";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff");
  font-weight: bold;
}
.resturent .food-list a[href] {
  position: relative;
}
.resturent .food-list a[href], .resturent .food-list a[href]:link, .resturent .food-list a[href]:visited, .resturent .food-list a[href]:active {
  text-decoration: none;
  color: #d8276c;
  text-shadow: 2px 2px 2px #070c11;
  padding-bottom: 3px;
  font-weight: bold;
}
.resturent .food-list a[href]::after {
  content: "";
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 0;
  height: 1px;
  transition: 0.35s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.resturent .food-list a[href]:hover::after {
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.resturent article.card {
  width: 300px;
  height: 350px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 20px 10px;
}
.resturent article.card .thumb {
  width: auto;
  height: 260px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/new-york-city.png") no-repeat center;
  background-size: cover;
  border-radius: 3px;
}
.resturent article.card .infos {
  width: auto;
  height: 350px;
  position: relative;
  padding: 10px 24px;
  background: #fff;
  transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.resturent article.card .infos .title {
  position: relative;
  margin: 10px 0;
  letter-spacing: 3px;
  color: #152536;
  font-family: "Grotesque Black", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px #32577f;
}
.resturent article.card .infos .flag {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 35px;
  height: 23px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/flag.png") no-repeat top right;
  background-size: 100% auto;
  display: inline-block;
}
.resturent article.card .infos .date,
.resturent article.card .infos .seats {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: rgba(21, 37, 54, 0.7);
  font-family: "Grotesque", sans-serif;
}
.resturent article.card .infos .seats {
  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.resturent article.card .infos .txt {
  font-family: "Merriweather", sans-serif;
  line-height: 2;
  font-size: 0.95rem;
  color: rgba(21, 37, 54, 0.7);
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.resturent article.card .infos .details {
  position: absolute;
  left: 0;
  left: 0;
  bottom: 0;
  margin: 10px 0;
  padding: 20px 24px;
  letter-spacing: 1px;
  color: #4e958b;
  font-family: "Grotesque Black", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.resturent article.card:hover .infos {
  transform: translateY(-260px);
}
.resturent article.card:hover .infos .seats,
.resturent article.card:hover .infos .txt,
.resturent article.card:hover .infos .details {
  opacity: 1;
}

.comming-soon {
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}/*# sourceMappingURL=style.css.map */