<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="left-nav">
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="https://cdn.discordapp.com/attachments/1089198968724017262/1090833612959658014/logo.png" alt="">
                    <span>KanaBona Peoples</span>
                </a>
            </li>
            <li><a href="#">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-home"></i>
                <span class="nav-item">Food</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-home"></i>
                <span class="nav-item">Restaurant</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-home"></i>
                <span class="nav-item">Order</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-user"></i>
                <span class="nav-item">Users</span>
            </a></li>
            <footer>
                
                <li><a href="#">
                    <form action="#" method="post">
                        <button name="logout" class="link" style="color: red">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Log Out</span>
                        </button>
                    </form>
                </a></li>
                <?php
                if(isset($_POST['logout'])) {
                    $user->logoutSession();
                    header("location: index.php");
                }
                ?>
            </footer>
            
        </ul>
    </div>

    <script
      src="https://kit.fontawesome.com/d1c69586b9.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>